:root {
  --primary: #B3D5FF;
  --secondary: #A8BBD2;
  --accent: #85A2C6;
  --text-color: #050608;
}
.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.container-fluid{
  background-color: var(--primary);
  padding: 8px
}
.nav-link-highlight {
 
  border-radius: 10px;
  max-width:fit-content;

}
.secondary-section {
  background-color: var(--secondary);
}

.big-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
}

.btn-primary {
  background-color: #B3D5FF;
  border: 0px;
  color: black;
}

.card > img {
  object-fit: fill;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
